.DS_Store

# ignore third party libraries
assets/php/simplehtmldom/
assets/bootstrap/
assets/kcfinder/
ckeditor/
assets/third-party/
simplehtmldom/
purl-master/
third-party/
stored-content/images/*

# ignore config file with authentication info
config/*local.config

# ignore data directory
data/