<?php

/******
*  Proxy settings, if used
******/
define("PROXY_IP", "127.0.0.1:8899");
define("APP_ROOT_PATH", dirname(dirname(__FILE__)));
define("FILE_STORE_PATH", "/data/html/");


/******
*  MySQL params
******/
define("DB_HOST", "127.0.0.1");
define("DB", "scraper");
define("DB_USER", "");
define("DB_PASS", "");


/******
*  Wordpress RPC-XML user credentials
******/
define("RPCXML_USER", "");
define("RPCXML_PASS", "");




?>