<?php
/** Settings for scraper app
**/
$appRootPath = "development/scraper/"	// path relative web root
$fileStorePath = "data/html/";		// path relative to app root
/**
On Mac, make sure apache can write to fileStorePath by running
 sudo chmod -R +a '_www allow read,write,delete,add_file,add_subdirectory,file_inherit,directory_inherit' <fileStorePath>
**/
?>