<?php
/**
List of pages to be scraped
**/

$urls = array(
	"http://localhost/development/scraper/tests/sample-files/gamefly-20130904-1140.html",
	"http://localhost/development/scraper/tests/sample-files/gamestop-20130904-1140.html",
	"http://localhost/development/scraper/tests/sample-files/gap-20130904-1140.html",
	"http://localhost/development/scraper/tests/sample-files/gamefly-20130904-1140.html",
	"http://localhost/development/scraper/tests/sample-files/gamestop-20130904-1140.html",
	"http://localhost/development/scraper/tests/sample-files/gap-20130904-1140.html",

);

?>