<?php
/**
List of pages to be scraped
**/

$urls = array(
	"http://localhost/data/gamefly-20130904-1140.html",
	"http://localhost/data/gamestop-20130904-1140.html",
	"http://localhost/data/gap-20130904-1140.html",
	"http://localhost/data/gamefly-20130904-1140.html",
	"http://localhost/data/gamestop-20130904-1140.html",
	"http://localhost/data/gap-20130904-1140.html",

);

?>